@charset "utf-8";

/* clearfix */
.cf {
	zoom: 1;
}
.cf:before,.cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
/* グリッドシステム */
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11,grid12 {
	float: left;
	display: inline;
}
.grid1 {width: 60px;}
.grid2 {width: 120px;}
.grid3 {width: 180px;}
.grid4 {width: 240px;}
.grid5 {width: 300px;}
.grid6 {width: 360px;}
.grid7 {width: 420px;}
.grid8 {width: 480px;}
.grid9 {width: 540px;}
.grid10 {width: 600px;}
.grid11 {width: 660px;}
.grid12 {width: 720px;}
.grid13 {width: 780px;}
.grid14 {width: 840px;}
.grid15 {width: 900px;}
.grid16 {width: 960px;}
.first {margin-left: 0;clear: left;}
/* IE6 */
* html .cf {
	zoom: 1;
}
/* IE7 */
*:first-child+html .cfx {
	zoom: 1;
}


html {
	height: 100%;
}
body {
	font-size: 0.8em;
	line-height: 1.4;
	text-align: center;
	background: #EEEFF1 url(../pages/img/bg.gif) repeat-y;
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
button:active,button:focus {
	outline: none;
}
img,abbr,acronym,fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
p {
	word-wrap: break-word;
}
textarea {
	resize: none;
}
input {
	display: inline-block;
}
ul {
	list-style: none;
}
select,input[type="text"],input[type="password"],input[type="search"] {
	font-size: 14px;
	border: 1px solid #c5cbcb;
	background: #ffffff;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
input[type="text"].form-error {
	border: 1px solid #ea1717;
}
input[type="submit"],
button {
	background: transparent none;
	border: none;
	display: inline-block;
}
input[type="password"].form-error {
	border: 1px solid #ea1717;
}
input[type="radio"] {
	vertical-align: 1px;
}
input[type="checkbox"] {
	vertical-align: -2px;
}
textarea {
	display: block;
	border: 1px solid #c5cbcb;
	background: #ffffff;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
textarea.form-error {
	border: 1px solid #ea1717;
}
.placeholder {
	color: #AAA;
}
:-ms-input-placeholder {
	color: #AAA;
}
::--webkit-input-placeholder {
	color: #AAA;
}
:-moz-placeholder {
	color: #AAA;
}
div.error{
	margin-bottom: 30px;
	padding: 7px 10px;
	font-size: 12px;
	color: #ea1717;
	background: #fae5e5;
}
div.error-message {
	clear: left;
	margin: 7px 0px;
	font-size: 13px;
	color: #ea1717;
}
p.error-message {
	clear: both;
	padding: 5px 0;
	color: #ea1717;
}
form {
	display: inline;
}
span.list {
	margin: 0 5px;
	font-size: 10px;
	color: #999;
}
span.red {
	color: #ff0000;
	margin: 10px;
}



/*link
---------------------------------------------------------------------------*/
a:link {
	color: #2E84B1;
	text-decoration: none;
}
a:visited {
	color: #2E84B1;
}
button a:link {
	color: #FFF;
}
button a:visited {
	color: #FFF;
}
a:hover,
input[type="submit"]:hover,
button:hover {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
a.focusLink {
	position: relative;
	top: 1px;
}


/*wrap
---------------------------------------------------------------------------*/

div#wrap {
	min-width: 1024px;
	min-height: 770px;
	height: 100%;
	_height: 100%;
}
div#main_wrap {
}
div#main {
	margin-left: 200px;
	border-left: rgba(200,200,200,1.00) 1px solid;
	background: #FFF;
}
div#contents {
	padding-bottom: 34px;
	margin: 0 40px 40px 70px;
	color: #2E84B1;
	text-align: left;
}
div#top_contents {
	margin: 40px 40px 0px 70px;
	text-align: left;
}

/*font
---------------------------------------------------------------------------*/
.font_10 {
	font-size: 10px;
}
.font_12 {
	font-size: 12px;
}
.font_14 {
	font-size: 14px;
}
.font_16 {
	font-size: 16px;
}
.font_18 {
	font-size: 18px;
}
.font_20 {
	font-size: 20px;
}
.ridge {
	border-bottom: ridge;
}
.groove {
	border-bottom: groove 1px;
}
.dotted {
	border-bottom: dotted;
}
.bold {
	font-weight: bold;
}






/*button
---------------------------------------------------------------------------*/
input.btn1,
button.btn1,
a.btn1,
a.btn2 {
	padding: 0;
	color: #FFF;
	font-size: 10px;
	background: rgba(46,132,177,1.00);
	border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
input.btn1 {
	width: 60px;
}
a.btn1 {
	width: 60px;
	display: block;
	text-align: center;
}
a.btn2 {
	margin: 10px;
	padding: 0px 15px;
	display: block;
	text-align: center;
}
a.btn2.small {
	width: 20px;
}
button.btn3 {
	width: 45px;
	margin: 10px 0;
	color: #FFF;
	font-size: 10px;
	text-align: center;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: rgba(46,132,177,1.00);
}
button.btn3.active {
	width: 45px;
	color: #C2C5C6;
	border: rgba(46,132,177,1.00) 1px solid;
	background: rgba(242,251,255,1.00);
}
a.btn1 i.fa {
	font-size: 12px;
}




