/*mainheader
---------------------------------------------------------------------------*/
#mainheader {
	width: 100%;
	height: 65px;
	padding: 0 50px 0 40px;
	box-sizing: border-box;
	background: rgba(175,207,234,1.00);
}
#mainheader img#logo {
	width: 130px;
	height: 65px;
	float: left;
}
#mainheader .nav_right {
	width: 105px;
	height: 65px;
	float: right;
}
#mainheader .nav_right.user {
	background: rgba(100,132,159,1.00);
}
#mainheader .nav_right.user i.fa,
#mainheader .nav_right.set i.fa {
	font-size: 20px;
	color: #FFF;
	margin-left: 15px;
	position: relative;
	top: 50%; 
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	float: left;

}
#mainheader .nav_right.set {
	background: rgba(124,158,186,1.00);
}
#mainheader a span div {
	font-size: 12px;
	width: 50px;
	color: #FFF;
	position: relative;
	margin-left: 5px;
	top: 50%; 
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	float: left;
	text-align: left;
}