#bg_wrap {
	position:fixed;
	top:-50%;
	left:-50%;
	width:200%;
	height:200%;
	z-index: -1;
}
#bg_wrap img.bg {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	min-width:50%;
	min-height:50%;
}
#mainheader {
	background: none;
}

/*sidenav
---------------------------------------------------------------------------*/
div#wrap div#sidenav {
	border-right: none;
}
div#sidenav ul li {
	background: none;
	height: auto;
	line-height: normal;
	border-right: none;
	border-bottom: none;
}
div#sidenav ul li img {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%) ;
	-ms-transform: translateX(-50%) ;
	transform: translateX(-50%) ;
}
div#sidenav ul li.kaishuu {
	margin-top: 25px;
}
div#sidenav ul li.download,
div#sidenav ul li.rent {
	margin-top: 5px;
}

/*contents
---------------------------------------------------------------------------*/
#top_contents div.image_box {
	height: 183px;
	width: 325px;
	border: 1px solid #B4C8D9;
	background: #FFF;
	background-color: rgba(255,255,255,0.7); 
	position: absolute;
	margin-top: -290px;
	left: 40px;
	margin-bottom: 30px;
}
#top_contents div.image_box div.icon_link {
	position: relative;
	left: 120px;
	top: 9px;
	font-size: 14px;
	color: #64849F;
}
#top_contents div.image_box img.sale {
	position: absolute;
	top: 17px;
	left: 17px;
}
#top_contents div.image_box img.pcsale {
	position: absolute;
	top: 27px;
	left: 117px;
}
#top_contents div.image_box img.pacific {
	position: absolute;
	top: 27px;
	left: 217px;
}
#top_contents div.image_box img.challenge {
	position: absolute;
	top: 107px;
	left: 17px;
}
#top_contents div.image_box img.microsoft {
	position: absolute;
	top: 107px;
	left: 107px;
}
#top_contents div.image_box img.reuse {
	position: absolute;
	top: 107px;
	left: 217px;
}
/*footer
---------------------------------------------------------------------------*/
div#footer {
	background: #FFF;
}