/*list
---------------------------------------------------------------------------*/
div#contents div.box {
	background: #FFFFFF;
	width: 860px;
	height: auto;
	margin: 10px 15px;
	text-align: left;
	border-radius: 3px;
	box-shadow: 0px 3px 1px 0px #D5D6D8;
	position: relative;
	float: left;
}
div#contents div.box div.box_top {
	padding-bottom: 5px;
	width: 860px;
	height: 38px;
	line-height: 38px;
	background: #CACFD2;
	border-radius: 3px 3px 0 0;
	float: left;
}
div#contents div.box div.box_top div.curriculum {
	width: auto;
	height: 38px;
	line-height: 38px;
	background: #CACFD2;
	border-radius: 3px 0 0 0;
	float: left;
}
div#contents div.box div.box_top div.curriculum a.link {
	padding: 0 10px 0 20px;
	color: #347AB5;
	font-size: 14px;
	text-decoration: underline;
}
div#contents div.box div.box_top div.indent {
	height: 38px;
	width: 22px;
	background: url(../images/lessons/indent.png) no-repeat;
	background-size: 22px;
	float: left;
}
div#contents div.box div.box_top div.boxtop_right {
	margin-left: 20px;
	width: 662px;
	float: left;
}
div#contents div.box ul.box_inner {
	margin-top: -5px;
	padding: 20px 20px 5px 20px;
	height: auto;
	width: 820px;
	border-radius: 3px 3px 0 0;
	background: #FFFFFF;
	position: relative;
	float: left;
}
div#contents div.box ul.box_inner li.boxtop_left {
	width: 655px;
	font-size: 12px;
	color: #CACBCF;
	font-weight: bold;
	float: left;
}
div#contents div.box ul.box_inner li.boxtop_center {
	width: 50px;
	text-align: right;
	font-size: 12px;
	color: #353535;
	font-weight: bold;
	float: left;
}
div#contents div.box ul.box_inner li.boxtop_right {
	width: 100px;
	padding-left: 15px;
	font-size: 12px;
	color: #3FB496;
	font-weight: bold;
	float: left;
}
div#contents div.box ul.box_inner li.subtitle {
	height: 50px;
	line-height: 50px;
	width: 820px;
	font-size: 20px;
	color: #CE4057;
	float: left;
}
div#contents div.box ul.word_list li.point {
	width: 860px;
	border-top: 1px solid #E8EAE9;
	background: #FFFFFF;
	position: relative;
	float: left;
}
div#contents div.box ul.word_list li.point:nth-child(2n+1) {
	width: 860px;
	border-top: 1px solid #E8EAE9;
	background: #F9FBFA;
	position: relative;
	float: left;
}
div#contents div.box ul.word_list li.point div.check,
div#contents div.box ul.word_list li.point div.list {
	height: 50px;
	width: 50px;
	background: url(../images/lessons/check1.png) no-repeat;
	background-size: 50px;
	float: left;
}
div#contents div.box ul.word_list li.point:nth-child(2n+1) div.check {
	background: url(../images/lessons/check2.png) no-repeat;
}
div#contents div.box ul.word_list li.point:nth-child(2n+1) div.list {
	background: url(../images/lessons/list2.png) no-repeat;
}
div#contents div.box ul.word_list li.point div.list {
	background: url(../images/lessons/list1.png) no-repeat;
}
div#contents div.box ul.word_list li.point div.word {
	margin-top: 2px;
	width: 707px;
	height: 48x;
	line-height: 48px;
	font-size: 16px;
	color: #343434;
	float: left;
}
div#contents div.box ul.word_list li.point div.detail {
	margin: 0 15px;
	left: 757px;
	height: 28px;
	width: 73px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: url(../images/lessons/detail.png) no-repeat;
	background-size: 73px;
}
div#contents div.box div.box_bottom {
	height: 40px;
	width: 860px;
	border-top: 1px solid #E8EAE9;
	background: #FFFFFF;
	border-radius: 0 0 3px 3px;
	float: left;
}





/***sidenavの高さ仮設定***/
div#wrap div#sidenav {
	height: 720px;
	width: 90px;
	padding-bottom: 10000px;
	margin-bottom: -10000px;
	float: left;
	z-index: 1;
	background-image: url(../images/lessons/bar.png);
	background-size: 90px;
}