/*main
---------------------------------------------------------------------------*/

/*header
------------------------------------*/
#main #header {
	width: 100%;
	height: 65px;
	line-height: 65px;
	font-size: 14px;
	color: #2E84B1;
	text-align: left;
	background: rgba(214,214,214,1.00);
}
#header i {
	margin: 0 10px 0 20px;
	font-size: 20px;
	position: relative;
	top: 2px;
}
#header i.fa-angle-right {
	margin: 0 15px;
	color: #909090;
}
#header span {
	color: #909090;
}


/*contents
------------------------------------*/
#contents .title {
	margin-top: 40px;
	padding-bottom: 5px;
	font-size: 18px;
	border-bottom: #2E84B1 4px solid;
}
#contents .title i {
	margin: 0 10px 0 3px;
}
#contents .sub_title {
	margin-top: 30px;
	font-size: 18px;
}
/*table
------------------------------------*/
#contents .box-content .table {
	width: 100%;
}
#contents .box-content .table thead {
	height: 50px;
	border-top: #2E84B1 2px solid;
	border-bottom: rgba(228,228,228,1.00) 2px solid;
	color: #000;
	font-size: 12px;
	font-weight: bold;
}
#contents .box-content .table tbody th {

}
#contents .box-content .table thead th div {
	height: 50px;
	padding: 0 10px;
	border-left: rgba(228,228,228,1.00) 1px solid;
	background: url(../img/select.png) no-repeat center right 5px;
	position: relative;
}
#contents .box-content .table thead th div span {
	position: absolute;
	top: 50%; 
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#contents .box-content .table thead th:first-child div {
	font-size: 10px;
	border-left: none;
	background: none;
}
#contents .box-content .table tbody {
	font-size: 10px;
	border-bottom: rgba(228,228,228,1.00) 1px solid;
	background: #FFF;
}
#contents .box-content .table tbody:last-child {
	border-bottom: rgba(228,228,228,1.00) 2px solid;
}
#contents .box-content .table tbody:nth-child(2n) {
	background: rgba(241,241,241,1.00);
}
#contents .box-content .table tbody td {
	height: 45px;
	padding: 0 10px;
	border-left: rgba(228,228,228,1.00) 1px solid;
	position: relative;
}
#contents .box-content .table tbody td:first-child {
	color: #858585;
	font-size: 12px;
	font-weight: bold;
	border-left: none;
}
#contents .box-content .table tbody td:first-child span {
	position: absolute;
	top: 30%;
	left: 50%;
	-webkit-transform: translateX(-50%) ;
	-ms-transform: translateX(-50%) ;
	transform: translateX(-50%) ;
}
#contents .box-content .table tbody td span {
	position: absolute;
	top: 50%; 
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
/*tab
------------------------------------*/
#contents .list_tab {
	width: 100%;
	height: 40px;
	margin-top: 30px;
	list-style-type: none;
}
#contents .list_tab li {
	width: 155px;
	height: 40px;
	line-height: 40px;
	color: #A2A3A3;
	text-align: center;
	border: rgba(228,228,228,1.00) 1px solid;
	border-bottom: none;
	background: rgba(230,233,237,1.00);
	box-sizing: border-box;
	float: left;
}
#contents .list_tab li a {
	display: block;
	width: 155px;
	height: 40px;
	color: #A2A3A3;
}
#contents .list_tab li.active {
	font-weight: bold;
	background: #FFF;
}
/*pull-right,pull-left
------------------------------------*/
#contents .wrap_pull-right {
	width: 100%;
	height: 50px;
}
#contents .wrap_pull-right .pull-right {
	margin: 0;
}
#contents .pull-right div.btn-area {
	margin: 15px;
	color: #797979;
	font-size: 10px;
	font-weight: bold;
	float: left;
}
#contents .pull-right .hide_box {
	position: relative;
	top: 50px;
}
#contents .pull-right td.btn-area button.left {
	border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
}
#contents .pull-right td.btn-area button.right {
	border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
}
#contents .m-top {
	position: relative;
	top: 1px;
}
#contents .pull-right td.left {
	position: relative;
	top: 5px;
}
#contents .pull-right td.right {
	position: relative;
	top: -16px;
}
#contents .pull-left {
	float: left;
}
#contents .pull-left a {
	margin: 10px 2px;
	float: left;
}
#contents .pull-right a {
	margin: 10px 2px;
	float: right;
}
@-moz-document url-prefix() {
	#contents .pull-right td.left {
		float: left;
	}
	#contents .pull-right td.right div.float-left {
		position: relative;
		top: -8px;
	}
	#contents .pull-right td.right div button {
		margin-top: 10px;
	}
}
/*estimate
------------------------------------*/
#contents .title.estimate {
	margin-top: 80px;
}
#contents .es_title {
	display: block;
	height: 50px;
	line-height: 60px;
}
#contents .estimate {
	padding: 10px;
	color: #000;
	border: #000 2px solid;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.estimate .underline {
	text-decoration: underline;
}
#contents .estimate th {
	background: rgba(240,248,255,1.00);
}
#contents .estimate th.bg_none {
	background: #FFF;
}
#contents .estimate label {
	margin-right: 5px;
	position: relative;
	top: 50px; 
}





/*bootstrap
------------------------------------*/






