/*sidenav
---------------------------------------------------------------------------*/
div#wrap div#sidenav {
	width: 200px;
	color: #2E84B1;
	font-size: 14px;
	text-align: left;
	float: left;
}
div#sidenav .sidenav_top {
	width: 200px;
	height: 65px;
	background: rgba(214,214,214,1.00);
}
div#sidenav ul li {
	width: 200px;
	height: 65px;
	line-height: 65px;
	color: #2E84B1;
	border-bottom: rgba(200,200,200,1.00) 1px solid;
}
div#sidenav ul li:hover {
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=70);
	cursor: pointer;
}
div#sidenav ul li i {
	margin-right: 5px;
	margin-left: 15px;
	font-size: 20px;
	position: relative;
	top: 2px;
}
div#sidenav ul li i.fa-angle-down {
	margin: 20px 10px 0 0;
	color: #AFAFAF;
	font-weight: bold;
	float: right;
}
div#sidenav ul.contents {
	display: none;
}
div#sidenav ul.contents li {
	width: 196px;
	height: 52px;
	line-height: 54px;
	border-bottom: rgba(220,220,220,1.00) 1px dotted;
	border-right: rgba(52,134,178,1.00) 4px solid;
	background: url(../img/sidebar_list1.png) no-repeat;
}
div#sidenav ul.contents li.last {
	border-bottom: rgba(200,200,200,1.00) 1px solid;	
}
div#sidenav ul.contents li.active {
	background: url(../img/sidebar_list2.png) no-repeat;
}
div#sidenav ul.contents li i {
	margin-left: 50px;
}
div#sidenav .sub_title {
	margin: 20px 10px 0 15px;
}
div#sidenav input.side1 {
	width: 60px;
	height: 20px;
	margin: 0 10px;
	padding: 5px;
}
div#sidenav input.side2 {
	width: 165px;
	height: 20px;
	margin: 0 10px;
	padding: 5px;
}
div#sidenav select {
	width: 175px;
	height: 30px;
	margin: 0 10px;
	padding: 0 5px;
	-webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    text-indent: .01px; /*Firefox用*/
    text-overflow: ""; /*Firefox用*/
	background: url() no-repeat center 5px right 5px;
}
input.side {
	margin: 20px 10px;
}