
/*top
---------------------------------------------------------------------------*/
div#contents div#top {
	margin: 0px 15px 10px 15px;
	width: 860px;
	background: #FFF;
	float: left;
	text-align: left;
	border-radius: 3px;
	box-shadow: 0px 3px 1px 0px #D5D6D8;
}
div#top div.title_left {
	margin: 10px;
	width: 200px;
	height: 28px;
	float: left;
	font-size: 20px;
	color: #ED615B;
}
div#top div.title_right {
	margin: 10px;
	height: 28px;
	width: 620px;
	float: left;
	text-align: right;
}
div#top div.bar {
	width: 860px;
	height: 35px;
	float: left;
}
div#top div.bar div.bar_left {
	background: #3DB399;
	height: 18px;
	width: 180px;
	margin-left: 10px;
	border-radius: 9px 0 0 9px;
	float: left;
}
div#top div.bar div.bar_right {
	background: #EEEFF1;
	height: 18px;
	width: 660px;
	margin-right: 10px;
	border-radius: 0 9px 9px 0;
	float: left;
}
div#top div.study {
	background: #F9FBFA;
	width: 860px;
	height: 40px;
	float: left;
	border-top: solid 1px;
	border-top-color: #EEEFF1;
	border-radius: 0 0 3px 3px;
}
div#top div.study div.study_button {
	width: 42px;
	margin: 7px 10px;
	font-size: 14px;
	color: #ffffff;
	padding: 3px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #37434F;
	float: left;
}
div#top div.study div.study_right {
	height: 40px;
	float: left;
	line-height: 40px;
}
