.underline {
    text-decoration:underline;
    }

.top-double {
    border-top:double 10px #0000ff;
}

.non-border {
    border:none !important;
    background-color:transparent !important;
    padding:0;
    margin-bottom:0 !important;
    width:95%;
    height:95%;
}

/* 処分機器詳細 */
.cpu-auto {
    background: #E0F8EC
}
.cpu-mass {
    background: #FFFFE0
}
.float-left {
    float:left;
}
.cpu-allupdate{
    margin-right:5px;
    margin-left:5px;
}
.check-box-space{
    padding-top:5px;
    padding-bottom:5px;
}

/* 金額入力 */
input.amount {
    text-align: right;
    width:100px;
}
.editcolor {
    background: #FFFAFA;
}
.imemode-amount {
    ime-mode: disabled;
}

.f-left {
	float: left;
}