/*main
---------------------------------------------------------------------------*/

/*navbar
-------------------------------------*/
.navbar img#logo {
	width: 130px;
	height: 65px;
}
.navbar .nav_right {
	width: 100px;
	height: 65px;
	float: right;
}
.navbar .nav_right.user {
	background: rgba(100,132,159,1.00);
}
.navbar .nav_right.user i.fa {
	width: 20px;
	height: 20px;
	color: #FFF;
}
.navbar .nav_right.set {
	background: rgba(124,158,186,1.00);
}


/*sidebar
-------------------------------------*/
#sidebar {
	width: 200px;
}